/*  Paleta de cores:
    https://coolors.co/palette/22577a-38a3a5-57cc99-80ed99-c7f9cc
*/

:root {
  /* cores */
  --cor-primaria: #22577A;
  --cor-secundaria: #38A3A5;
  --cor-3: #57CC99;
  --cor-4: #80ED99;
  --fundo: #C7F9CC;

  /* espaçamentos */
  --margem-padrao: 10px;
  --border-radius-padrao: 5px;

  /* tamanhos */
  --width-padrao-conteudo: 50%;
  --border-padrao: 2px;
}

h1 {
  color: var(--cor-primaria);
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: var(--fundo);
}

/* [HTML/CSS][Nivel 2][Utilize no mínimo 2 seletores em CSS: hover] */
button:hover {
  background-color: var(--fundo);
  color: var(--cor-primaria);
}

/* [HTML/CSS][Nivel 2][Utilize no mínimo 2 seletores em CSS: classe] */
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content table {
  align-items: center;
  margin-top: var(--margem-padrao);
  width: var(--width-padrao-conteudo)
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20%
}

.nav-header li {
  color: var(--cor-primaria);
  list-style-type: none;
  /* background-color: var(--cor-primaria); */
  border: 2px solid var(--cor-primaria);
  padding: 10px;
  border-radius: var(--border-radius-padrao);
  cursor: pointer;
}

.nav-header a {
  text-decoration: none;
  color: var(--cor-primaria);
  background-color: var(--fundo);
  font-weight: bold;
}

.avaliacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--margem-padrao);

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  ;
}

.avaliacao button {
  width: 150px;
}

table {
  border: var(--border-padrao) solid var(--cor-primaria);
  border-radius: var(--border-radius-padrao);

  color: var(--cor-primaria);
}

.campo-produto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.campo-adicionar {
  display: flex;
  flex-direction: row;

  width: var(--width-padrao-conteudo);

  margin-left: auto;
  margin-right: auto;
}

.campo-adicionar input {
  margin-right: var(--margem-padrao);
}

.campo-adicionar button {
  width: 150px;
}

button {
  width: 100%;
  height: 30px;

  border: var(--border-padrao) solid var(--cor-primaria);
  border-radius: var(--border-radius-padrao);

  background-color: var(--cor-secundaria);
  color: var(--fundo);

  cursor: pointer;
}

input {
  width: 100%;

  border: var(--border-padrao) solid var(--cor-primaria);
  border-radius: var(--border-radius-padrao);

  background-color: var(--fundo);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: var(--width-padrao-conteudo);

  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margem-padrao);

  color: var(--cor-primaria);
}

#qtde {
  width: 100px;
}

#valor-unitario {
  width: 150px;
}
