/*  Paleta de cores:
    https://coolors.co/palette/22577a-38a3a5-57cc99-80ed99-c7f9cc
*/

:root {
  /* cores */
  --cor-primaria: #22577A;
  --cor-secundaria: #38A3A5;
  --cor-3: #57CC99;
  --cor-4: #80ED99;
  --fundo: #C7F9CC;

  /* espaçamentos */
  --margem-padrao: 10px;
  --border-radius-padrao: 5px;

  /* tamanhos */
  --width-padrao-conteudo: 50%;
  --border-padrao: 2px;
}

h1 {
  color: var(--cor-primaria);
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: var(--fundo);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content table {
  align-items: center;
  margin-top: var(--margem-padrao);
  width: var(--width-padrao-conteudo)
}

table {
  border: var(--border-padrao) solid var(--cor-primaria);
  border-radius: var(--border-radius-padrao);

  color: var(--cor-primaria);
}

.campo-produto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.campo-adicionar {
  display: flex;
  flex-direction: row;

  width: var(--width-padrao-conteudo);

  margin-left: auto;
  margin-right: auto;
}

.campo-adicionar button {
  width: 150px;
  margin-left: var(--margem-padrao);
}

button {
  width: 100%;
  height: 30px;

  border: var(--border-padrao) solid var(--cor-primaria);
  border-radius: var(--border-radius-padrao);

  background-color: var(--cor-secundaria);
  color: var(--fundo);

  cursor: pointer;
}

input {
  width: 100%;

  border: var(--border-padrao) solid var(--cor-primaria);
  border-radius: var(--border-radius-padrao);

  background-color: var(--fundo);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: var(--width-padrao-conteudo);

  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margem-padrao);

  color: var(--cor-primaria);
}
